{% extends layout_template  %}

{% form_theme changePasswordForm 'bootstrap_3_layout.html.twig' %}

{% block title %}Change password{% endblock %}

{% block content %}

    <h1>
        Change password
    </h1>

    {{ form_start(changePasswordForm) }}
    {{ form_widget(changePasswordForm) }}
    {{ form_end(changePasswordForm) }}
{% endblock %}
