{% extends layout_template  %}

{% block title %}Email confirmation sent{% endblock %}

{% block content %}

    <h1>{{ 'Thank you!' | trans({}, 'messages') }}</h1>

    <p>{{ 'An email has been sent to you at <strong>%email%</strong>.' | trans({'%email%': email}, 'messages') | raw }}</p>

    <p>{{ 'Please click the link in that message to activate your account.' | trans({}, 'messages') }}</p>

{% endblock %}
